body {
    font-family: 'Poppins', sans-serif;

}


.link-button {
    background-image: linear-gradient(rgb(255, 0, 0), tomato);
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
}

.top-backgrond-image {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex-contain {
    display: flex;

}

.Align-text {
    text-align: center;
    padding-top: 300px;
    padding-left: 25%;
    ;
    padding-right: 25%;
    padding-bottom: 250px;


}

.yellow-background-color {
    border-radius: 5px;
    background-color: beige;
}

.red-background-color {
    border-radius: 5px;
    background-color: rgb(248, 188, 188)
}

.ash-background-color {
    background-color: aqua;
}

.half-width {
    width: 500px;
    padding: 140px 10px 10px 10px;
}

.half-width img {
    width: 140%;
}

.text-color {
    color: rgba(67, 57, 57, 0.733);
}

.img {
    height: 25%;

}

.text-part2 {
    padding-top: 100px;

}

.donation {
    height: 10px;
    width: 10px;
    font-weight: 900;
    color: rgb(255, 130, 5));
}

.two tk {
    font-weight: 900;
    color: rgb(253, 3, 3);
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: red;
}

.donation-box {
    height: 60px;
    width: 60px;
}

.Align-text2 {
    text-align: center;
}

.email {
    font-weight: 700;
    color: rgb(135, 130, 130);
    background-image: linear-gradient(orange red);
    padding: 10px 60px;
    border-radius: 5px;
}