body {
    font-family: 'Poppins', sans-serif;

}


.link-button {
    background-image: linear-gradient(rgb(255, 0, 0), tomato);
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
}

.top-backgrond-image {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex-contain {
    display: flex;
}

.Align-text {
    text-align: center;
    padding-top: 150px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 150px;


}

,
yellow-background-color {
    border-radius: 5px;
    background-color: rgba(177, 151, 7, 0.514);

}

.red-background-color {
    border-radius: 5px;
    background-color: rgba(175, 68, 68, 0.74);

}

.ash-background-color {
    border-radius: 5px background-color:red;
}

.half-width {
    width: 50%;
    padding-left: 10px;

}